<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>
<meta name="author" content="Tom Lynch">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="left-bar col-md-2">
      <nav class="navbar navbar-default nav-stacked">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="glyphicon glyphicon-list"></span>
	  </button>
	  <h2><a href="/">tomlynch.io</a></h2>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li><h3><a href="/about">about</a></h3></li>
	    <li><h3><a href="/">archive</a></h3></li>
	    <li><h3><a href="/">categories</a></h3></li>
	    <li><h3><a href="/">tags</a></h3></li>
	  </ul>
	</div>
      </nav>
      <div class="hidden-xs hidden-sm">
	<script language="javascript" src="http://pinboard.in//widgets/v1/linkroll/?user=attentive&count=10&tag=reading"></script>
      </div>
    </div>
    <div class="silkscreen-post">
    <div class="col-md-1"></div>
    <div class="main col-md-9">
	<div class="body col-md-10">
	  <h1 class="silkscreen-title"></h1>
	  <h6 class="date silkscreen-published hidden-md hidden-lg"></h6>
	  <div class="silkscreen-body"></div>
	</div>
	<div class="right-bar col-md-2 hidden-xs hidden-sm">
	  <h6 class="date silkscreen-published"></h6>      
	</div>
    </div>
    </div>
  </div>
</div>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      processEscapes: true
	    }
	  });
</script>
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

