<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Title</title>
<meta name="author" content="Tom Lynch" />
<link href="/atom.xml" rel="alternate" title="the attentive worker" type="application/atom+xml" />
<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<!-- MathJax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      processEscapes: true
	    }
	  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/bootstrap-overrides.css" rel="stylesheet">
</head>
<body>
<div id="nav"></div>
<div id="post"></div>
<div id="related"></div>
<div id="footer"></div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/history.js"></script>
<script src="/js/react-0.10.0.js"></script>
<script src="/js/showdown/showdown.js"></script>
<script src="/js/leaflet-0.7.3.js"></script>
<script src="/js/d3.v3.min.js"></script>
<script src="/js/out/goog/base.js" type="text/javascript"></script>
<script src="/js/silkscreen.js" type="text/javascript"></script>
<script type="text/javascript">goog.require("silkscreen.page");</script>
</body>
</html>

