{:body "# Abracadabra \n\n## Zippity doo\n\n### I have another header for you\n\n+ You can\n+ Live in\n+ Post-iness, oh you! \n+ Avra\n+ Kedavra\n+ Loompity-do!\n\n<div silkscreen=\"pygmentize clojure\">\n(ns qux\n (:require [clojure.string :as smeg]))\n\n(defn foobar [x y]\n (smeg/join \"...\" [\"yo\"\n  (str (+ x y))]))\n\n(foobar \"ho\" \"ho\")</div>\n\nWhen $a \\ne 0$, there are two solutions to $\\(ax^2 + bx + c = 0\\)$ and they are\n$$x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a}.$$\n\n<div align=\"center\" silkscreen=\"rhizomize\">\n{:a [:b :c :d]\n :b [:a]\n :c [:a]\n :d [:a]}\n</div>", :template "index.html", :title "Test Post 2", :published #inst "2014-07-05T00:00:00.000-00:00", :categories ["another-test"], :tags ["test-tag-1" "test-tag-3"]}